<!DOCTYPE html>
<html lang="ko">
  <head>
    <%include ./head%>
  </head>
  <body>
    <div>
      <h1>Welcome to MarketCooly</h1>
      <h2><%= title1 %> page</h2>
      <a id="join" href="/join">회원가입</a>
      <a id="login">로그인</a>
    </div>
  </body>
</html>
