<!DOCTYPE html>
<html lang="ko">
  <head>
    <%include ./head%>
    <meta
      name="naver-site-verification"
      content="31140481bb01bf2911f527a95f0062dde7271b1b"
    />
    <meta name="description" content="마켓컬리 클론코딩 마켓쿨리!!" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="마켓쿨리" />
    <meta property="og:description" content="마켓컬리 클론코딩 마켓쿨리!!" />
    <meta property="og:image" content="http://marketcooly.shop/logo.jpg" />
    <meta property="og:url" content="http://marketcooly.shop" />
    <link rel="canonical" href="https://marketcooly.shop" />
  </head>
  <body>
    <div>
      <h1>Welcome to MarketCooly</h1>
      <h2>메인 페이지</h2>
      <a id="join" href="/join">회원가입</a>
      <a id="login">로그인</a>
    </div>
  </body>
</html>
