<!DOCTYPE html>
<html lang="ko">
  <head>
    <%include ./head%>
  </head>
  <body>
    <div>
      <h1>Welcome to MarketCooly</h1>
      <h2>마이페이지</h2>
      <%=user%>님 어서오세요.
    </div>
  </body>
</html>
